name: create-pr

on:
  push:
    branches:
      - develop

permissions:
  contents: write
  packages: read
  pull-requests: write

env:
  GH_TOKEN: ${{ secrets.TAIKI_TOKEN }}

jobs:
  go-run:
    runs-on: ubuntu-latest
    outputs:
      changes: ${{ steps.git-diff.outputs.changes }}
    steps:
      - uses: actions/checkout@v3

      - name: go setup
        uses: actions/setup-go@v3
        with:
          go-version: 1.21

      - name: go run
        run: go run main.go
      
      - name: Check for changes
        id: git-diff
        run: |
          git diff --quiet || echo "::set-output name=changes::true"

      - name: commit-push
        if: steps.git-diff.outputs.changes == 'true'
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add .
          git commit -m 'auto commit'
          git push

  create-release-pr:
    runs-on: ubuntu-latest
    needs: go-run
    if: needs.go-run.outputs.changes == 'true'
    steps:
      - uses: actions/checkout@v3

      - name: create release pr      
        run: gh pr create --base main --title "create pr" --body "auto create pr" --repo ${{ github.repository }}
